/*----------Contact----------*/
.contact{
    strong{
        background: linear-gradient(90deg, rgba(217,174,254,1) 0%, rgba(199,242,242,1) 100%, rgba(252,176,69,1) 100%);
        padding: 10px;
        width: 100%;
        display: block;
        border-radius: 5px 5px 0 0;
    }
}